
    <div class="nav">
        <a class="navitems" href="/profile">Profile</a>
        <a class="navitems" href="/thanks">My Signature</a>
        <a class="navitems" href="/logout">Logout</a>
    </div>