<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
            rel="stylesheet"
        />
         <title>Petition</title>
    </head>
    <body>
        <div class="container">
           
            <div class="left">
                {{{body}}}
            </div>

             <div class="right"> 
                 {{#unless hideNav}} 
                    {{> nav-menu}}
                {{/unless}}
                <div id="myname">
                     © Marco Capurri 2020
                </div>
            </div>
            
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>