<div class="register">
    <h3>Are you sure you want to delete your account?</h3>
    
    <form  method="POST">
        <button class="button list" type="submit">Yes Please</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>
